<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025379144442-cg87ujtc5ffkfage90efoe6s5l7s2qqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025379144442-cg87ujtc5ffkfage90efoe6s5l7s2qqv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1025379144442-e2iockp9jcu02ej7k3754jc98oh5fd71.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8DItpoZ2UgZvYzhiufSdwVPh5hAtd8zk</string>
	<key>GCM_SENDER_ID</key>
	<string>1025379144442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masth.masthGuru</string>
	<key>PROJECT_ID</key>
	<string>masth-aefb6</string>
	<key>STORAGE_BUCKET</key>
	<string>masth-aefb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025379144442:ios:9250e48b33c397f8926f43</string>
	<key>DATABASE_URL</key>
	<string>https://masth-aefb6-default-rtdb.firebaseio.com</string>
</dict>
</plist>